.container {
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    padding: 10px;
    height: 200px;
  }
  
  .container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 5px;
  }
  